body{
    background: linear-gradient(#191970, #000);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hide{
    display: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu */

.navigation{
    height: 100%;
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.75,0,0.25,1);
}

.is-appear{
    transform: translateX(0);
}

.button-hide{
    display: flex;
    justify-content: space-between;
}

.hideButton{
    width: 150px;
    height: 70px;
    border-radius: 2px;
    border: none;
    margin: 10px;
    font-size: 20px;
}

.hideButton:hover{
    background: yellow;
}

.open-menu{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 20px 30px 0;
    border-color: transparent #191970 transparent transparent;
    position: absolute;
    bottom: 10px;
    left: -20px;
}

.close-menu{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.close-menu img{
    width: 48px;
    height: auto;
}

/* color light in building : ef991d */

.buildings{
    position: absolute;
    bottom: 10px;
}

/* HIGHEST BUILDING IN GOTHAM */

.highest{
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000;
}

.bar-top-highest-building{
    position: absolute;
    top: -210px;
    height: 30px;
    width: 2px;
    background: #000;
}

.top-highest-building{
    position: absolute;
    top: -190px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 65px 150px 65px;
    border-color: transparent transparent #000 transparent;
}

.window-top-highest-building{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 30px 12.5px;
    border-color: transparent transparent #ef991d transparent; 
    position: absolute;
    top: 90px;
    right: -10px;
}

.bar-top-wall-highest-building {
    height: 30px;
    width: 2px;
    background: #000;
}

.bar-left-top-wall-highest-building{
    position: absolute;
    top: -70px;
    left: 21px;
}

.bar-right-top-wall-highest-building{
    position: absolute;
    top: -70px;
    right: 21px;
}

.wall-top-highest-building{
    width: 130px;
    height: 40px;
    background: #000;
    position: absolute;
    top: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.windows-wall-top-highest-building{
    width: 10%;
    height: 70%;
    background: #ef991d;
}

.bar-bottom-highest-building{
    width: 2px;
    height: 15px;
    background: #000;
}

.bar-left-bottom-highest-building{
    position: absolute;
    top: -15px;
    left: 1px;
}

.bar-right-bottom-highest-building{
    position: absolute;
    top: -15px;
    right: 1px;
}

.bottom-highest-building{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.windows-highest{
    width: 10%;
    height: 98%;
    background: #ef991d;
}

/* HIGH BUILDING IN GOTHAM */

.high{
    height: 200px;
    width: 170px;
    position: absolute;
    bottom: 0;
    left: 200px;
}

.top-high-building{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 85px 60px 85px;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    top: -140px;
}

.middle-high-building{
    width: 170px;
    height: 80px;
    background: #000;
    position: absolute;
    top: -80px;
}

.top-middle-high{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
}

.windows-top-middle-high{
    height: 70%;
    width: 6%;
    background: #ef991d;
}

.middle-middle-high{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 20px;
}

.windows-middle-middle-high{
    height: 80%;
    width: 7%;
    background: #ef991d;
}

.bottom-middle-high{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.windows-bottom-middle-high{
    height: 70%;
    width: 6%;
    background: #ef991d;
}

.bottom-high-building{
    height: 100%;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.windows-high{
    width: 7%;
    height: 95%;
    background: #ef991d;
}

/* NORMAL HIGH IN GOTHAM */

.normal-height{
    height: 250px;
    width: 200px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.windows-container-normal-height{
    display: flex;
    justify-content: space-around;
    height: 9%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.windows-normal-height{
    height: 90%;
    width: 10%;
    background: #ef991d;
}

/* BATMOBILE */

.batmobile{
    width: 300px;
    height: 100px;
    position: relative;
}

/* Wind Hole Batmobile Front */

.wind-hole-front-batmobile0{
    width: 20px;
    height: 4px;
    background: #000;
    border-radius: 50%;
    transform: rotate(-75deg);;
    position: absolute;
    bottom: 13px;
    right: 30px;
}

.wind-hole-front-batmobile1{
    width: 15px;
    height: 3.5px;
    background: #000;
    border-radius: 50%;
    transform: rotate(-75deg);
    position: absolute;
    bottom: 11px;
    right: 26px;
}

.wind-hole-front-batmobile2{
    width: 10px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    transform: rotate(-75deg);;
    position: absolute;
    bottom: 8px;
    right: 22px;
}

/* Front Batmobile */

.light-front-batmobile{
    width: 2px;
    height: 10px;
    background: yellow;
    position: absolute;
    right: -2px;
    bottom: 7px;
}

.front-batmobile{
    position: absolute;
    bottom: 0;
    right: 0;
}

.top-front-batmobile{
    height : 0;
    width : 0;
    border-right : 50px solid transparent;
    border-bottom : 15px solid #2A2318;
}

.bottom-front-batmobile{
    width: 52px;
    height: 20px;
    background: #2A2318;
    margin-left: -1px;
    border-radius: 2px;
}

.smooth-wall-batmobile{
    height : 0;
    width : 0;
    border-right : 33px solid transparent;
    border-bottom : 3px solid #2A2318;
    position: absolute;
    left: 167px;
    bottom: 35px;
}

.wall-between-wheels-batmobile{
    width: 35px;
    height: 35px;
    background: #2A2318;
    position: absolute;
    left: 166px;
    bottom: 0;
}

/* Roof Batmobile */

.roof-batmobile{
    height: 30px;
    width: 70px;
    background: #2A2318;
    position: absolute;
    bottom: 30px;
    left: 80px;
    transform: rotate(10deg);
}

.window-batmobile{
    width: 50px;
    height: 12px;
    border-radius: 10px;
    background: grey;
    position: absolute;
    left: 15px;
    bottom: 13px;
}

.border-window-batmobile{
    width: 10px;
    height: 16px;
    background: #2A2318;
    position: absolute;
    left: 60px;
    bottom: 12px;
    transform: rotate(-10deg);
}

.roof-left-batmobile{
    height : 0;
    width : 0;
    border-bottom : 15px solid #2A2318;
    border-left : 25px solid transparent;
    position: absolute;
    bottom: 54px;
    left: 58px;
    transform: rotate(10deg);
}

.roof-right-batmobile{
    height : 0;
    width : 0;
    border-right : 20px solid transparent;
    border-bottom : 16px solid #2A2318;
    position: absolute;
    left: 150px;
    bottom: 36px;
    transform: rotate(10deg);
}

.window-circle-batmobile{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: grey;
    position: absolute;
    bottom: 52px;
    left: 80px;
}



/* Wheels */
.wheels{
    margin-top: 10px;

    animation-name: rollWheels;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Animation Wheels */

@keyframes rollWheels{
    100%{transform: rotate(360deg);}
}

.around-front-wheel{
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    background: #2A2318;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.front-wheel-batmobile{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #312f2b;
}

.interior-front-wheel{
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: #000;
}

.interior-front-wheel2{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #312f2b;
}

.interior-front-wheel2 img{
    width: 13px;
    height: auto;
}

.between-wheels{
    width: 78px;
    height: 38px;
    background: #2A2318;
    position: absolute;
    left: 89px;
    bottom: 0;
}

.around-back-wheel{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: #2A2318;
    position: absolute;
    bottom: 0;
    left: 30px;
}


.back-wheel-batmobile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #312f2b;
}

.interior-back-wheel{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #000;
}

.interior-back-wheel2{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #312f2b;
}

.interior-back-wheel2 img{
    width: 16px;
    height: auto;
}

/* Wind Hole Batmobile Back */

.wind-hole-back-batmobile0{
    width: 20px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    bottom: 2px;
}

.wind-hole-back-batmobile1{
    width: 15px;
    height: 2px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    bottom: 7px;
}

.wind-hole-back-batmobile2{
    width: 15px;
    height: 2px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    bottom: 11px;
}

.wind-hole-back-batmobile3{
    width: 17px;
    height: 2px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    bottom: 15px;
}

.wind-hole-back-batmobile4{
    width: 20px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    bottom: 19px;
}

/* Back Batmobile */

.wall-batmobile{
    width: 40px;
    height: 20px;
    background: #2A2318;
    position: absolute;
    left: 41px;
    bottom: 35px;
}

.spoiler-back-batmobile{
    height : 0;
    width : 0;
    border-right : 80px solid transparent;
    border-bottom : 50px solid #2A2318;
    position: absolute;
    bottom: 40px;
    left: 0;
    transform: rotate(-20deg);
}

.triangle-spoiler{
    height : 0;
    width : 0;
    border-top : 5px solid transparent;
    border-right : 5px solid #2A2318;
    border-bottom : 5px solid transparent;
    transform: rotate(-20deg);
}

.triangle-spoiler1{
    position: absolute;
    left: 4px;
    bottom: 30px;
}

.triangle-spoiler2{
    position: absolute;
    left: -1px;
    bottom: 42px;
}

.triangle-spoiler3{
    position: absolute;
    left: -6px;
    bottom: 56px;
}

.triangle-spoiler4{
    height : 0;
    width : 0;
    border-right : 5px solid #2A2318;
    border-bottom : 5px solid transparent;
    transform: rotate(-20deg);
    position: absolute;
    bottom: 69px;
    left: -9px;
}

.back-batmobile{
    height: 40px;
    width: 26px;
    background: #2A2318;
    position: absolute;
    bottom: 5.5px;
    left: 13px;
    transform: rotate(60deg);
    border-radius: 50%;
}

.back-bottom-batmobile{
    height: 20px;
    width: 26px;
    background: #2A2318;
    position: absolute;
    bottom: 0;
    left: 8px;
    border-radius: 5px;
}

.light-back-batmobile{
    width: 5px;
    height: 10px;
    background: red;
    position: absolute;
    bottom: 12px;
    left: 5px;
}

.light-effect-spoiler0{
    height : 0;
    width : 0;
    border-right : 50px solid transparent;
    border-bottom : 5px solid #5E5F5F;
    transform: rotate(12deg);
    position: absolute;
    left: -3px;
    bottom: 62px;
}

.light-effect-spoiler1{
    height : 0;
    width : 0;
    border-right : 45px solid transparent;
    border-bottom : 6px solid #5E5F5F;
    position: absolute;
    left: 2px;
    bottom: 52px;
}
.light-effect-spoiler2{
    height : 0;
    width : 0;
    border-right : 40px solid transparent;
    border-bottom : 5px solid #5E5F5F;
    transform: rotate(-10deg);
    position: absolute;
    left: 6px;
    bottom: 43px;
}

.light-effect-spoiler3{
    height : 0;
    width : 0;
    border-right : 40px solid transparent;
    border-bottom : 5px solid #5E5F5F;
    transform: rotate(-20deg);
    position: absolute;
    left: 10px;
    bottom: 35px;
}

/* Moon */

.moon-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #A2A2A2;
    position: relative;
}

.moon-dot0{
    width: 7px;
    height: 5px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    top: 15px;
    left: 25px;
}

.moon-dot1{
    width: 15px;
    height: 12px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    top: 12px;
    left: 50px;
}

.moon-dot2{
    width: 7px;
    height: 5px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    top: 50px;
    left: 15px;
}

.moon-dot3{
    width: 7px;
    height: 5px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    bottom: 15px;
    left: 27px;
}

.moon-dot4{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    bottom: 42px;
    left: 35px;
}

.moon-dot5{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.moon-dot6{
    width: 7px;
    height: 9px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    top: 55px;
    right: 30px;
}

.moon-dot7{
    width: 9px;
    height: 8px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.moon-dot8{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    top: 32px;
    right: 15px;
}

/* Cloud */

.cloud-container img{
    width: 150px;
    height: auto;
}

.cloud1{
    position: absolute;
    top: 0;
}